.reset{
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: 2px solid #fb5300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.reset__btn{
    width: 30px;
    height: 30px;
    background-color: #fb5300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.reset__btn:hover{
    transform: scale(1.4, 1.4);
}
.reset__btn button{
    background-color: #fb5300;
    border: none;
    color: white;

    cursor: pointer;
}